<h1>{{ user_id }}'s profile</h1>

<div *ngIf="user_data">
  <mat-card-subtitle
    >Created date: {{ user_data.created_date }}
  </mat-card-subtitle>

  <button mat-raised-button color="primary" (click)="copyBlueprintBookString()">
    COPY BLUEPRINT BOOK
  </button>

  <div class="summary-list">
    <ng-container *ngFor="let id of user_data.blueprints">
      <app-summary-card [blueprint_id]="id"></app-summary-card>
    </ng-container>
  </div>
</div>

<div class="loading" *ngIf="!loading">
  <mat-spinner></mat-spinner>
</div>
