<mat-card class="blueprint-view">
  <mat-card-header>
    <mat-card-title>{{ blueprint_data.title }}</mat-card-title>
    <mat-card-subtitle
      >Created by: {{ blueprint_data.created_by }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button>ADD</button>
    <button mat-raised-button color="primary">COPY BLUEPRINT STRING</button>
  </mat-card-actions>
  <p>
    {{ blueprint_data.description }}
  </p>
  <img
    mat-card-image
    src="{{ blueprint_data.image_urls[0] }}"
    alt="{{ blueprint_data.title }}"
  />
  <mat-card-content>
    <div class="image-list">
      <ng-container *ngFor="let url of blueprint_data.image_urls">
        <div class="image-card">
          <img class="image-card" mat-card-image src="{{ url }}" />
        </div>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
